<div class="page-header" style="background: url(../../../assets/img/banner1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Change Password</h2>
          <ol class="breadcrumb">
            <li>
              <a href="#">Home /</a>
            </li>
            <li class="current">Change Password</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="forgot login-area">
          <h3>
            Change Password
          </h3>
          
          <form class="login-form" #form="ngForm">

            <div class="form-group">

              <!-- <div class="input-icon">
                <i class="icon lni-user"></i>
                <input type="text" class="form-control"  #oldpass="ngModel" name="oldPassword" [(ngModel)]="OLDpASSWORDtxt" required placeholder="Old password">
              </div>
            
              <br/>

              <div class="input-icon">
                <i class="icon lni-user"></i>
                <input type="text" class="form-control"  #newpass="ngModel" name="newPassword" [(ngModel)]="NEWpASSWORDtxt" required placeholder="new password">
              </div>
             -->

              <br/>

              <div class="input-icon" *ngIf="emailInputBool">
                <i class="icon lni-user"></i>
                <input type="text" class="form-control" #email="ngModel" name="email" [(ngModel)]="emailtxt" required placeholder="email/phone">
              </div>

              <div class="input-icon" *ngIf="otpInputBool">
                <i class="icon lni-user"></i>
                <input type="text" class="form-control" #otp="ngModel" name="otp" [(ngModel)]="otptxt" required placeholder="new OTP">
              </div>

              <div class="input-icon" *ngIf="passInputBool">
                <i class="icon lni-user"></i>
                <input type="text" class="form-control" #newPass="ngModel" name="newPass" [(ngModel)]="passtxt" required placeholder="new password">
              </div>

            </div>

            <div class="text-center">
              <button class="btn btn-common log-btn" (click)="submitEmail()" *ngIf="emailBtnBool">Submit Mobile / E-mail</button>
              <button class="btn btn-common log-btn" (click)="submitOTP()" *ngIf="otpBtnBool">Submit OTP</button>
              <button class="btn btn-common log-btn" (click)="newPasswordSubmit()" *ngIf="passwordBtnBool">Submit new Password</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>